* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
    width: 90%;
    margin: 2% auto;
    background: lightgray;
    margin: 2% auto;
    padding: 2.5rem;

}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    margin-bottom: 20px;
}

.nav ul li {
    padding: 2.0rem;
    float: left;
}
.nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#productos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center
}

#titulo {
    width: 100%;
    color: rgb(253, 255, 255);
    text-align: center;
    font-size: 20 px;
    background-color: rgb(58, 59, 103);
}

.banner img {
    width: 98%;
    margin: 10px;

}

.clearfix {
    clear: both;
}

.p1 {
    background-image: url("img/hotel1.jpg");
    width: 40%;
    height: 400px;
    background-size: cover;
    margin: 2% auto;
}

.p2 {
    background-image: url("img/hotel2.jpg");
    width: 40%;
    height: 400px;
    background-size: cover;
    margin: 2% auto;
}

.p3 {
    background-image: url("img/ihotel3.jpg");
    width: 40%;
    height: 400px;
    background-size: cover;
    margin: 2% auto;
}

.p4 {
    background-image: url("img/ichotel4.jpg");
    width: 40%;
    height: 400px;
    background-size: cover;
    margin: 2% auto;
}